<div id="modalDynamic" class="app-modal" hidden aria-hidden="true">
    <div class="app-modal__backdrop" data-modal-close></div>
    <div class="app-modal__dialog app-modal__dialog--large" role="dialog" aria-modal="true" aria-labelledby="modalDynamicTitle">
        <div class="app-modal__header">
            <h2 id="modalDynamicTitle">Dynamic content</h2>
            <button class="app-modal__close" type="button" data-modal-close aria-label="Close">×</button>
        </div>
        <div id="modalDynamicBody" class="app-modal__body"></div>
    </div>
</div>
